<!DOCTYPE html>
<html lang="en">
  <head>
    
    {{>headerlinks}}
  </head>

  <body>
    {{>navbar}}

    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class = "row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left Side Div  -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errorimg">
                            <img src="images/404error.jpg", alt="error", class="img-fluid" title="talha developer"/>
                        </figure>
                        <p>Welcome to Talha Techinical World</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
                        
    <!-- Footer Code  -->
    {{>footer}}

  </body>
</html>
