<!DOCTYPE html>
<html lang="en">
  <head>
    
    {{>headerlinks}}
  </head>

  <body>
    {{>navbar}}

    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class = "row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left Side Div  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span class = "text-color">Mern Stack Developer, </span>Youtuber and A Freelancer.</h1>
                        <a target="_blank" href="https://www.facebook.com/sohna.bacha.524596"><button>About Me</button></a>
                    </div>

                    <!-- Right Side Div  -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.jpg", alt="talha", class="img-fluid" title="talha developer"/>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
                        
    <!-- Footer Code  -->
    {{>footer}}

  </body>
</html>
